Frontend/node_modules
**/node_modules
**/node_modules
Backend/env
Backend/key.json
Backend/backend/config/config.env
Frontend/.env
**/**/__pycache__
Backend/facemania/media/pictures
Backend/facemania/.env