*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.primary-Container{
    background: url("../../Images/background1.png") no-repeat center;
    background-size: cover;
    height:100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.content > h1{
    font-size: 32px;
    color: #4371af;
    margin:15px;
}
.content> p{
    margin:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:30vmax;
    color: #75849a;
    font-size: 2.4vmin;
    font-weight: 500;
    
}
.homeImage{
    flex: 0 0 50%;
    max-width: 50%;
}
.homeImage > img{
    max-width: 100%;
}
.primary-btn{
    background:  linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
    position: relative;
    display: inline-block;
    padding: 12px 30px;
    font-size: 2vmin;
    font-weight: 500;
    /* line-height: 16px; */
    border-radius: 50px;
    min-width: 2vmax;
    text-align: center;
    border: 2px solid #7ad4cc;
    cursor: pointer;
    color: #fff;
    margin:12px;
}

@media screen and (max-width:510px) {
    .primary-Container{
        /* justify-content: center; */
        /* align-items: center; */
        /* text-align: center; */
        flex-direction: column;
    }
    .content{
        margin-top: 40vmax;
    }
}