
/* --------------- Container ------------- */
.primary-Container {
  background: url("../../Images/background1.png") no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ------------ HomeImage ------------- */
.homeImage {
  flex: 0 0 50%;
  max-width: 50%;
}
.homeImage > img {
  max-width: 100%;
}

/* ------------- Content ---------------- */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* ------------ utils ------------- */
.content > h1 {
  font-size: 32px;
  color: #4371af;
  margin: 15px;
}
.content > p {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30vmax;
  color: #75849a;
  font-size: 2.4vmin;
  font-weight: 500;
}

/* ------------------- Button ----------------- */
.primary-btn {
  background: linear-gradient(
    to right,
    #3e2bce 0%,
    #2dd3aa 100%,
    #2dd3aa 100%,
    #2dd3aa 100%
  );
  display: inline-block;
  padding: 12px 30px;
  font-size: 2vmin;
  font-weight: 500;
  border-radius: 50px;
  min-width: 2vmax;
  text-align: center;
  border: 2px solid #7ad4cc;
  cursor: pointer;
  color: #fff;
  margin: 12px;
}

/* ---------- for Responsive --------------- */
@media screen and (max-width: 540px) {
  .primary-Container {
    flex-direction: column;
  }
  .content {
    margin-top: 40vmax;
  }
}
