.mini-container{
  background-color: #353834;
  height: 100vh;
}

#miniheading{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  margin-top:25px;
  padding: 4px;
  color: #000;
  font-size: 1.5vmax;
  margin-bottom: 20px;
}
.mini-left{
  position: absolute;
  left: 12px;
}
.mini-right{
  position: absolute;
  right:12px;
}

#miniheading button {
  background:  linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
    padding: 12px 30px;
    font-size: 2vmin;
    font-weight: 500;
    min-width: 3vmax;
    text-align: center;
    border: 2px solid #7ad4cc;
    cursor: pointer;
    color: #fff;
  }
  
  @media screen and (max-width:500px) {
    #miniheading button{
      padding: 8px 12px;
    }
} 

@media print {
  .noPrint{
    display:none;
  }
}